$primary-color:#fe4d5a;

$text-color:#767677;
$text-dark-color:#3e3e42;
$text-light-color:#adb2b7;

$bg-color:#fdfdfe;

$gray-color:#ededf0;

$header-height:100px;

$sidebar-bg-color:#f9f9fa;
$sidebar-width: 300px;
