$primary-color:#13a89e;
$second-main-color:#90cbda;
$text-color:#2c2d30;
$text-light-color:#717274;
$bg-color:white;

$gray-color:#c3c4c4;
$gray-light-color: lighten($gray-color, 20%);

$red-color:#f26130;
